In [18]:
import numpy as np
import pandas as pd
import os

In [19]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [20]:
movies.head(1)
# movies.head(1)['keywords'].values  # Just Looking all keywords of movie.

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [21]:
credits.head(1)
# credits.head(1)['cast'].values # Just Looking cast of movie.

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [22]:
movies.shape

(4803, 20)

In [23]:
credits.shape

(4803, 4)

In [24]:
movies = movies.merge(credits,on='title')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [25]:
movies.shape

(4809, 23)

In [26]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [27]:
movies['original_language'].value_counts()  # 95% movies of english language so we don't take this features because it will create problem.
# Same with original_title features so will take title as feature it will have english named title.

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [28]:
"""
Important Features for Movie Recommendations System.
    1. genres
    2. id
    3. keywords (Tags)
    4. title
    5. overview
    6. cast
    7. crew
    8. release_date

"""

'\nImportant Features for Movie Recommendations System.\n    1. genres\n    2. id\n    3. keywords (Tags)\n    4. title\n    5. overview\n    6. cast\n    7. crew\n    8. release_date\n\n'

In [29]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [30]:
"""
    Now doing Data Preprocessing
    => genres and keyword are not in right format.
    => There are so many actor names in cast section in that we only take top 3 actors name for recommadation.
    => There are so many crew names like director,camera man,script writer,designer etc we don't that all so we will take only director 
       names for recommadation.
    => and also remove missing data & dubicate value.
"""

"\n    Now doing Data Preprocessing\n    => genres and keyword are not in right format.\n    => There are so many actor names in cast section in that we only take top 3 actors name for recommadation.\n    => There are so many crew names like director,camera man,script writer,designer etc we don't that all so we will take only director \n       names for recommadation.\n    => and also remove missing data & dubicate value.\n"

In [31]:
 movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [32]:
movies.dropna(inplace=True)# only three null value so drop it.

In [33]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [34]:
movies.duplicated().sum()

0

In [35]:
movies.iloc[0].genres   # Format is String[list of Dic] => converting to List format

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [36]:
import ast

def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [37]:
movies['genres'] = movies['genres'].apply(convert)
movies.head() # genres solved.

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [38]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [39]:
def fetch_topCast(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [40]:
movies['cast'] = movies['cast'].apply(fetch_topCast)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [41]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [42]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [43]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [44]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [45]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [46]:
movies.sample(10)

,movie_id,title,overview,genres,keywords,cast,crew
1237,11398,The Art of War,When ruthless terrorists threaten to bring dow...,"[Crime, Action, Adventure]","[china, chinesewoman, secretagent, conspiracyo...","[WesleySnipes, DonaldSutherland, MauryChaykin]",[ChristianDuguay]
4358,7944,Shine a Light,Martin Scorsese and the Rolling Stones unite i...,"[Documentary, Music]","[newyork, filmdirector, legend, song, public, ...","[MickJagger, KeithRichards, CharlieWatts]",[MartinScorsese]
2952,30973,The Visual Bible: The Gospel of John,A word for word depiction of the life of Jesus...,"[Drama, History]","[miracle, jesuschrist, lastsupper, bible, chri...","[ChristopherPlummer, HenryIanCusick, StuartBunce]",[PhilipSaville]
3793,27723,Psycho Beach Party,Spoof of 1960's Beach Party/Gidget surfing mov...,[Comedy],"[gay, dancing, detective, confession, beach, s...","[LaurenAmbrose, NicholasBrendon, AmyAdams]",[RobertLeeKing]
991,9770,Mad City,A misguided museum guard who loses his job and...,"[Action, Drama, Thriller]","[journalist, museum, hostagedrama, independent...","[JohnTravolta, DustinHoffman, MiaKirshner]",[Costa-Gavras]
2160,1266,Street Kings,Tom Ludlow is a disillusioned L.A. Police Offi...,"[Action, Crime, Drama, Thriller]","[police, losangeles]","[KeanuReeves, ForestWhitaker, ChrisEvans]",[DavidAyer]
3055,11507,Body Double,After losing an acting role and his girlfriend...,"[Crime, Mystery, Horror, Thriller]","[femalenudity, pornography, claustrophobia, nu...","[CraigWasson, MelanieGriffith, GreggHenry]",[BrianDePalma]
952,306,Beverly Hills Cop III,Back in sunny southern California and on the t...,"[Action, Comedy, Crime]","[detective, undercover, securitycamera, carous...","[EddieMurphy, JudgeReinhold, HéctorElizondo]",[JohnLandis]
1618,59861,Larry Crowne,"After losing his job, a middle-aged man reinve...","[Comedy, Romance, Drama]","[classroom, college, teacher, diner, lossofjob...","[TomHanks, JuliaRoberts, BryanCranston]",[TomHanks]
1922,9787,Lords of Dogtown,The film follows the surf and skateboarding tr...,[Drama],"[skateboarding, success, independentfilm, woma...","[EmileHirsch, VictorRasuk, RebeccaDeMornay]",[CatherineHardwicke]

In [47]:
movies['overview'] = movies['overview'].apply(lambda x:x.split()) # Overview is string so convert it into list

In [48]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [49]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew,tags
2769,16406,Dick,"[Comedy, about, two, high, school, girls, who,...",[Comedy],"[richardnixon, watergate, thewhitehouse]","[KirstenDunst, MichelleWilliams, WillFerrell]",[AndrewFleming],"[Comedy, about, two, high, school, girls, who,..."
2508,185567,Zulu,"[As, a, child,, Ali, Neuman, narrowly, escaped...","[Crime, Drama, Thriller]",[],"[OrlandoBloom, ForestWhitaker, ConradKemp]",[JérômeSalle],"[As, a, child,, Ali, Neuman, narrowly, escaped..."
4673,77332,Urbania,"[Charlie, takes, an, odyssey, through, grief, ...","[Romance, Drama]",[],"[DanFutterman, MattKeeslar, SamuelBall]",[JonMatthews],"[Charlie, takes, an, odyssey, through, grief, ..."
2936,17708,Corky Romano,"[Corky, Romano, is, a, bumbling,, simpleton,, ...","[Action, Comedy, Crime]",[],"[ChrisKattan, VinessaShaw, PeterFalk]",[RobPritts],"[Corky, Romano, is, a, bumbling,, simpleton,, ..."
3221,9451,Election,"[A, high, school, teacher's, personal, life, b...",[Comedy],"[jealousy, infidelity, vandalism, museum, mote...","[MatthewBroderick, ReeseWitherspoon, ChrisKlein]",[AlexanderPayne],"[A, high, school, teacher's, personal, life, b..."

In [50]:
new_movies = movies[['movie_id','title','tags','genres']]
new_movies.head()

,movie_id,title,tags,genres
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]"
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]"
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]"

In [51]:
new_movies['tags'][1] # tag of one movie

['Captain',
 'Barbossa,',
 'long',
 'believed',
 'to',
 'be',
 'dead,',
 'has',
 'come',
 'back',
 'to',
 'life',
 'and',
 'is',
 'headed',
 'to',
 'the',
 'edge',
 'of',
 'the',
 'Earth',
 'with',
 'Will',
 'Turner',
 'and',
 'Elizabeth',
 'Swann.',
 'But',
 'nothing',
 'is',
 'quite',
 'as',
 'it',
 'seems.',
 'Adventure',
 'Fantasy',
 'Action',
 'ocean',
 'drugabuse',
 'exoticisland',
 'eastindiatradingcompany',
 "loveofone'slife",
 'traitor',
 'shipwreck',
 'strongwoman',
 'ship',
 'alliance',
 'calypso',
 'afterlife',
 'fighter',
 'pirate',
 'swashbuckler',
 'aftercreditsstinger',
 'JohnnyDepp',
 'OrlandoBloom',
 'KeiraKnightley',
 'GoreVerbinski']

In [52]:
#Now we have to convert words like ['loved','loving','love'] to ['love','love','love'] 
# For this we will apply 'stemming' so we will use nltk library in that we will use stem porter.

In [53]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
ps.stem('loving') # Demo of Stem

'love'

In [54]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [55]:
stem("Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems. Adventure Fantasy Action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger JohnnyDepp OrlandoBloom KeiraKnightley GoreVerbinski")
# Function usage

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnnydepp orlandobloom keiraknightley goreverbinski"

In [56]:
new_movies['tags'] = new_movies['tags'].apply(lambda x: " ".join(x))
new_movies.head()

C:\Users\Nisarg Modi\AppData\Local\Temp\ipykernel_12444\3247989072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x: " ".join(x))

,movie_id,title,tags,genres
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]"
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]"
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]"
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]"
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]"

In [57]:
new_movies['tags'] = new_movies['tags'].apply(stem)

C:\Users\Nisarg Modi\AppData\Local\Temp\ipykernel_12444\3229886743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(stem)

In [58]:
new_movies

,movie_id,title,tags,genres
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa...","[Action, Adventure, Fantasy, ScienceFiction]"
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c...","[Adventure, Fantasy, Action]"
2,206647,Spectre,a cryptic messag from bond’ past send him on a...,"[Action, Adventure, Crime]"
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...,"[Action, Crime, Drama, Thriller]"
4,49529,John Carter,"john carter is a war-weary, former militari ca...","[Action, Adventure, ScienceFiction]"
...,...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...,"[Action, Crime, Thriller]"
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...,"[Comedy, Romance]"
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q...","[Comedy, Drama, Romance, TVMovie]"
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...,[]
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...,[Documentary]

In [59]:
new_movies['tags'][1] # Stemming Done.

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnnydepp orlandobloom keiraknightley goreverbinski"

In [60]:
'''
**STEPS**
For the Recommendation system I will use 'vectorization' ==> 'text vectorization' => 'Bag of words'.
    1. First Combine all the tags [tag1+tag2+....+tagN] say 'large text'
    2. From 'large text' we will calculate frequency and then extract top 5000 most common words.
    3. w1|w2|w3|....|w5000
    4. Let w1 be action,w2 be future and so on....
    5.        w1|w2|w3|...|w5000
      movie1-> 5,3,1,.....,2 [Freq. of tags in the movie1].
      movie2-> 4,1,2,.....,0 [Freq. of tags in the movie2].
      above is of (5000,5000) which is vector.
    In vectorization we don't consider 'stop word' i.e. are,and,of,to,from and so on...
'''

"\n**STEPS**\nFor the Recommendation system I will use 'vectorization' ==> 'text vectorization' => 'Bag of words'.\n    1. First Combine all the tags [tag1+tag2+....+tagN] say 'large text'\n    2. From 'large text' we will calculate frequency and then extract top 5000 most common words.\n    3. w1|w2|w3|....|w5000\n    4. Let w1 be action,w2 be future and so on....\n    5.        w1|w2|w3|...|w5000\n      movie1-> 5,3,1,.....,2 [Freq. of tags in the movie1].\n      movie2-> 4,1,2,.....,0 [Freq. of tags in the movie2].\n      above is of (5000,5000) which is vector.\n    In vectorization we don't consider 'stop word' i.e. are,and,of,to,from and so on...\n"

In [61]:
# Text-Vectorization...

In [62]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [63]:
vectors = cv.fit_transform(new_movies['tags']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [64]:
vectors.shape

(4806, 5000)

In [65]:
# We use Cosine Distance to calculate distance between vectors because of curse of dimensionality problem[so we don't use Eulian distance].
# we know 'distance' is inversly proportional to 'similarity'
# More 'Distance' less 'Similarity' & Less 'Distance' More 'Similarity'.

In [66]:
# we will use Cosine Similarity from sklearn which will result in '0' means less similar and '1' means more Similar
from sklearn.metrics.pairwise import cosine_similarity

In [67]:
similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [68]:
similarity.shape

(4806, 4806)

In [69]:
new_movies[new_movies['title'] == 'Batman Begins'].index[0] # This will give index of Batman Begins movie

119

In [71]:
def recommend(movie):
    index = new_movies[new_movies['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_movies.iloc[i[0]].title)

In [72]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [73]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [75]:
def precision_at_k(recommended_movies, relevant_movies, k):
    relevant_in_recommendations = [movie for movie in recommended_movies[:k] if movie in relevant_movies]
    precision = len(relevant_in_recommendations) / k
    return precision

In [76]:
def recall_at_k(recommended_movies, relevant_movies, k):
    relevant_in_recommendations = [movie for movie in recommended_movies[:k] if movie in relevant_movies]
    recall = len(relevant_in_recommendations) / len(relevant_movies)
    return recall

In [74]:
import pickle
pickle.dump(new_movies,open('movies.pkl','wb'))